@CHARSET "ISO-8859-1";

body {
background-image:url(http://imgview.info/download/20160127/wood-notebook-vintage-whitespace-old-glasses-classic-typewriter-workspace-notepad-color-sudes-vintage-2880x1800.jpg);
background-repeat:no-repeat;
background-size:100%;
}

#usuario {
	background-position: 10px 10px !important ;
	width:5%;
	height:50px;
	
}

#formulario{
	height: 300px;
}
#panel{
	height: 300px;
}
#password { 
	background-position: 10px -53px !important ;
	width:5%;
	height:50px;
}

#botonLogin{
	
}

